<div class="container">
  <div class="row">
    <div class="col-sm pt-5">
      <h1>{{ title }}</h1>
      <nav>
        <a routerLink="/dashboard">Dashboard</a>
        <a routerLink="/heroes">Heroes</a>
      </nav>
      <router-outlet></router-outlet>
      <app-messages></app-messages>
    </div>
  </div>
</div>
